.dark-mode {
  background-color: rgba(0, 0, 0, 0.886);
  /* color: white; */
}

.box {
  position: relative;
  width: 200px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.box::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #d400d4
  );
  animation: animate 4s linear infinite;
  animation-delay: -2s;
}
.box::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 300px;
  background-image: conic-gradient(transparent, #00ccff);
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.box span {
  position: absolute;
  inset: 5px;
  border-radius: 16px;
  background: black;
  z-index: 1;
}
.box h2 {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.buttonBody {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.1em;
  padding: 10px 20px;
  transition: 0.5s;
}
.buttonBody:hover {
  letter-spacing: 0.25em;
  background: var(--clr);
  color: var(--clr);
  box-shadow: 0 0 35px var(--clr);
}
.buttonBody::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #27282c;
}
.buttonBody span {
  position: relative;
  z-index: 1;
}
.buttonBody i {
  position: absolute;
  inset: 0;
  display: block;
}
.buttonBody i::before {
  content: "";
  position: absolute;
  top: -3.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--clr);
  background: #27282c;
  transform: translateX(-50%);
  transition: 0.5s;
}
.buttonBody:hover i::before {
  width: 20px;
  left: 20%;
}
.buttonBody i::after {
  content: "";
  position: absolute;
  bottom: -3.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--clr);
  background: #27282c;
  transform: translateX(-50%);
  transition: 0.5s;
}
.buttonBody:hover i::after {
  width: 20px;
  left: 80%;
}
